[Unit]
Description=Service som tar imot video fra bmdcapture og lagrer det til disk
Requires=video-opptaker-ffmpeg.socket
After=video-opptaker-ffmpeg.socket

[Service]
User=opptaker

Sockets=video-opptaker-ffmpeg.socket

StandardInput=fd:video-opptaker-ffmpeg.socket
StandardOutput=journal
StandardError=journal
ExecStart=/usr/local/bin/ffmpeg.sh

OOMScoreAdjust=-1
MemoryLimit=1G

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
