[Unit]
Description=Videoopptaker for automatisk opptak
Requires=nginx.service
After=nginx.service

[Service]
Type=simple
User=opptaker
ExecStart=/usr/local/bin/videoopptaker
Restart=always

[Install]
WantedBy=multi-user.target
