[Unit]
Description=Service som tar imot video fra opptakskortet og sender det videre
Requires=video-opptaker-ffmpeg.socket
After=video-opptaker-ffmpeg.socket

Wants=video-opptaker-ffmpeg.service

[Service]
User=opptaker

Sockets=video-opptaker-ffmpeg.socket

CPUAffinity= 7
OOMScoreAdjust=-1
MemoryLimit=2G

StandardInput=null
StandardOutput=journal
StandardError=journal
ExecStart=/usr/local/bin/bmd.sh

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
