[Unit]
Description=Videoopptaker for automatisk opptak

[Service]
Type=simple
User=opptaker
ExecStart=/usr/local/bin/videoopptaker
Restart=always

[Install]
WantedBy=multi-user.target
